<div class="col-md-5 mx-auto">
    <div class="card">
        <div class="card-header bg-danger">
            Сообщение
        </div>
        <div class="card-body text-center">
            <h4>Произошла ошибка</h4>
            <img class="img-fluid" src="https://external-preview.redd.it/k_j6UTRkmPbizti-eat964aUMclgpfsfnHCgjzUaywo.png?auto=webp&s=f1183c7531df95464c336e54128f7d48f2462de4" alt="Alternate Text" />
        </div>
        <div class="card-footer text-center">
            @Html.ActionLink("Назад", "Index", "Home", new { @class = "btn btn-primary" })
        </div>
    </div>
</div>